.isMenuActive {
    background: #007ad9;
    color: white;
  }
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin: 20px;
  }
  
  .float-right {
    float: right;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .align-table{
    padding: 20px;
  }
  .hide-table {
    visibility: hidden;
  }
  .align-box {
    border: 1px solid gray;
    padding: 0;
  }
  .card-bg {
    background: khaki;
    height: 40px;
  }
  /* Style the buttons inside the tab */
  .tab button {
   
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  /* .tab button:hover {
    background-color: #ddd;
  } */
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  :host ::ng-deep .custom-toast .ui-toast-message {
    color: #ffffff;
    background:blue;
    border-radius: 20px;
    padding-top: 8px;
    width: 120%;
 
}
:host ::ng-deep .ui-toast .ui-toast-message.ui-toast-message-error {
  width: 400px;
}
table {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.icons-wrap{
    float: left;
}
:host ::ng-deep .custom-toast .ui-toast-message {
    color: #ffffff;
    background:blue;
    border-radius: 20px;
    padding-top: 8px;
    width: 120%;
}
:host ::ng-deep .custom-toast .ui-toast-close-icon {
    position: absolute;
    font-size: 2em;
    top: 11px;
    text-decoration: none;
}
.align-message {
    padding: 8px;
}
:host ::ng-deep .ui-toast .ui-toast-icon {
    padding-top: 4px;
}
 
:host ::ng-deep .custom-toast  .ui-toast .ui-toast-message-text-content {
    margin-left: 2.5em;
}
.panel-default>.panel-heading {
    color: white;
    background-color: #1362A5;
    border-color: #ddd;
    text-align: center;
    font-weight: bold;
}