 

<div class="wrapper no-margin">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><span class="card-meta mb-2 align-card"><span style="color:#485E88">i</span><span style="color:#EE1D23">S</span><span style="color:#00A54F">S</span><span style="color:#54C5CF">O</span> ADMIN</span> </h3>
                <!-- {{todayDate | date: 'd MMMM , y'}}
                {{ currentTime | date: 'hh:mm:ss a' }} -->
                <strong>ISSO</strong>
            </div>
            <ul class="list-unstyled components">
               <li *ngFor="let menu of adminMenuData">
                  <a class="pad-right" routerLink="{{menu.routing}}" routerLinkActive="active" class="menu-color"><i class="{{menu.menuIcon}}"></i> <span class="left-link"> {{menu.menu_name}}</span> </a>
                </li> 
                 <li><a  class="menu-color" [routerLink]="['/login']" routerLinkActive="active"><i class="{{faMenu}}">  </i> <span class="left-link">Logout</span></a>
                </li> 
         
            </ul>
        </nav>

    <!-- Page Content  -->
    <div id="content">
       
        <router-outlet></router-outlet>

</div> 
</div>
