<div *ngIf="showSgfi">
 
<div class="event-container">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-nav">
             </div>
        </div> 
     </div>
</div>
<div class="col-md-3 align-game-div">
    <div>Select Game</div>
<p-dropdown    [(ngModel)]="selectedGame" (onChange)="loadGameChange($event)" [options]="gameOptions"  size="30" ></p-dropdown>
</div>
<table class="table"  *ngIf="studentRecordLength>0">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Game Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Action</th>
        <th scope="col">Status</th>
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of sgfiStudentData; let i = index;">
        <td>{{student.studentName}}</td>
        <td>{{student.gameName}}</td>
        <td>{{student.ageRange}}</td>
        <td>
            <span> {{student.gender == '1' ? 'Boys' : 'Girls'}} </span>
        </td>
        <td>
            <button *ngIf="student.isForm == '0' || student.isDoc == '0' ||  student.isPaid == '0'" class="btn btn-primary sgfi-enroll-button"  type="button" (click)="showEnrollDialog(i)">ENROLL NOW</button>
            <button *ngIf="student.isForm == '1' && student.isDoc == '1' &&  student.isPaid == '1'" class="btn btn-primary sgfi-enroll-button"  type="button" (click)="showEnrollDialog(i)">VIEW/UPDATE</button>

        </td> 
        <td>
            <span class="plain-button btn btn-success" *ngIf="student.isForm == '1' && student.isDoc == '1' && student.isPaid == '1'"> Completed</span>
            <span class="plain-button btn btn-warning" *ngIf="student.isForm == '1' || student.isDoc == '1' ||  student.isPaid == '1'"> In Progress</span>
            <span class="plain-button btn btn-danger" *ngIf="student.isForm == '0' && student.isDoc == '0' &&  student.isPaid == '0'"> Pending</span>

        </td>
      </tr>
    </tbody>
  </table>
 </div>
<div *ngIf="!showSgfi">
    <img class="align-img" src="assets/images/web/noData.JPG">
</div>
 


     <p-dialog  
     [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 'max-height': '80vh','min-height':'250px'}"
        header= "{{dialogHeader}}"
        styleClass="enroll-popup"
        [modal]="true"
        (onHide)="cancel()"
        [(visible)]="visible">   
          <div class="justify-content-center">
        <div class="container">
            <div class="row">
              <div class="col-sm align-form-menu" (click)="formMenu('form')" [ngClass]="isForm ? 'isMenuActive' : '' ">
                <i class="pi pi-calendar"></i> 
                 ENROLL FORM
              </div>
              <div class="col-sm align-form-menu"  (click)="formMenu('doc')" [ngClass]="isDoc ? 'isMenuActive' : ''">
                <i class="pi pi-upload"></i> 
              UPLOAD DOCUMENTS
              </div>
              <div class="col-sm align-form-menu"  (click)="formMenu('payment')" [ngClass]="isPayment ? 'isMenuActive' : ''">
                <i class="pi pi-money-bill"></i> 
               PAYMENT
              </div>
            </div>
          </div>
        
          <div *ngIf="isForm">
            <div class="col-md-12 align-sgfi-form">
                <form [formGroup]="sgfiEnrollForm" #formDir="ngForm" (ngSubmit)="onSubmit()">
                <div class="col-md-4">
                        <div [hidden]="formDir.submitted">
                                <div class="align-form-column">
                                    <label for="name">Student Name <span class="required-label">*</span></label>
                                    <input  name="studentNameText" id="studentName" class="form-control" [(ngModel)]="studentName" formControlName="name"
                                    [ngClass]="{'is-invalid error-input-border': name.invalid && (name.dirty || name.touched)}">
 
                                    <div class="error-message" *ngIf="name.invalid && (name.dirty || name.touched)">
                                        <div *ngIf="name.errors.required">  Student Name is required. </div>
                                    </div> 
                                </div>
                            
                                <div class="align-form-column">
                                    <label for="alterEgo">Father Name <span class="required-label">*</span></label>
                                    <input id="fatherName" class="form-control" [(ngModel)]="selectedFatherName" formControlName="fatherName"
                                    [ngClass]="{'is-invalid error-input-border': fatherName.invalid && (fatherName.dirty || fatherName.touched)}">
                                    <div class="error-message" *ngIf="fatherName.invalid && (fatherName.dirty || fatherName.touched)">
                                        <div *ngIf="fatherName.errors.required">
                                        Father Name is required.
                                        </div>
                                    </div> 
                                </div>
                                <div class="align-form-column">
                                    <label for="alterEgo">Mother Name <span class="required-label">*</span></label>
                                    <input id="motherName" class="form-control" formControlName="motherName"
                                    [ngClass]="{'is-invalid error-input-border': motherName.invalid && (motherName.dirty || motherName.touched)}">
                                    <div class="error-message" *ngIf="motherName.invalid && (motherName.dirty || motherName.touched)">
                                        <div *ngIf="motherName.errors.required">
                                        Mother Name is required.
                                        </div>
                                    </div> 
                                </div>
                              
                                <div class="align-form-column">
                                    <label for="alterEgo">Admission No. & Year <span class="required-label">*</span></label>
                                    <input id="admissionNo" class="form-control" formControlName="admissionNo"
                                    [ngClass]="{'is-invalid error-input-border': admissionNo.invalid && (admissionNo.dirty || admissionNo.touched)}">
                                    <div class="error-message" *ngIf="admissionNo.invalid && (admissionNo.dirty || admissionNo.touched)">
                                        <div *ngIf="admissionNo.errors.required">
                                        Admission no is required.
                                        </div>
                                    </div> 
                                </div>
                                <div class="align-form-column">
                                    <label for="alterEgo">Date of Joining the School <span class="required-label">*</span></label>
                                    <input id="schoolJoinDate" class="form-control" formControlName="schoolJoinDate"
                                    [ngClass]="{'is-invalid error-input-border': schoolJoinDate.invalid && (schoolJoinDate.dirty || schoolJoinDate.touched)}">
                                    <div class="error-message" *ngIf="schoolJoinDate.invalid && (schoolJoinDate.dirty || schoolJoinDate.touched)">
                                        <div *ngIf="schoolJoinDate.errors.required">
                                            Date of Joining the School  is required.
                                        </div>
                                    </div> 
                                </div>
                                <div class="align-form-column">
                                    <label for="alterEgo">Standard & Section Studying this year <span class="required-label">*</span></label>
                                    <input id="studyingYear" class="form-control" formControlName="studyingYear"
                                    [ngClass]="{'is-invalid error-input-border': studyingYear.invalid && (studyingYear.dirty || studyingYear.touched)}">
                                    <div class="error-message" *ngIf="studyingYear.invalid && (studyingYear.dirty || studyingYear.touched)">
                                        <div *ngIf="studyingYear.errors.required">
                                            Standard & Section Studying this year  is required.
                                        </div>
                                    </div> 
                                </div>
                                <div class="align-form-column">
                                    <label for="name">Last Year Registration No. SGFI <span class="required-label">*</span></label>
                                    <input id="sgfiRegNo" class="form-control" formControlName="sgfiRegNo" required 
                                    [ngClass]="{'is-invalid error-input-border': sgfiRegNo.invalid && (sgfiRegNo.dirty || sgfiRegNo.touched)}">
                                    <div class="error-message" *ngIf="sgfiRegNo.invalid && (sgfiRegNo.dirty || sgfiRegNo.touched)">
                                        <div *ngIf="sgfiRegNo.errors.required">
                                            Last Year Registration No. SGFI  is required.
                                        </div>
                                    </div> 
                                </div> 
                               
                        </div>
                  
                </div>
                <div class="col-md-4">
                    <div [hidden]="formDir.submitted">
                     
                     
                        <div class="align-form-column">
                            <label for="alterEgo">Discipline <span class="required-label">*</span></label>
                            <input id="dicipline"  formControlName="dicipline" class="form-control"
                            [ngClass]="{'is-invalid error-input-border': dicipline.invalid && (dicipline.dirty || dicipline.touched)}">
                            <div class="error-message" *ngIf="dicipline.invalid && (dicipline.dirty || dicipline.touched)">
                                <div *ngIf="dicipline.errors.required">
                                    Discipline  is required.
                                </div>
                            </div>
                        </div>
                        <div class="align-form-column">
                            <label for="alterEgo">Standard Studying last year <span class="required-label">*</span></label>
                            <input id="studyingLastYear" class="form-control" formControlName="studyingLastYear"
                            [ngClass]="{'is-invalid error-input-border': studyingLastYear.invalid && (studyingLastYear.dirty || studyingLastYear.touched)}">
                            <div class="error-message" *ngIf="studyingLastYear.invalid && (studyingLastYear.dirty || studyingLastYear.touched)">
                                <div *ngIf="studyingLastYear.errors.required">
                                    Standard Studying last year  is required.
                                </div>
                            </div>
                        </div>
                        <div class="align-form-column">
                            <label for="alterEgo">Personal Identification Marks 1: <span class="required-label">*</span></label>
                            <input id="personalIdentity" class="form-control" formControlName="personalIdentity"
                            [ngClass]="{'is-invalid error-input-border': personalIdentity.invalid && (personalIdentity.dirty || personalIdentity.touched)}">
                            <div class="error-message" *ngIf="personalIdentity.invalid && (personalIdentity.dirty || personalIdentity.touched)">
                                <div *ngIf="personalIdentity.errors.required">
                                    Personal Identification Marks  is required.
                                </div>
                            </div>
                        </div>
                        <div class="align-form-column">
                            <label for="alterEgo">Personal Identification Marks 2:</label>
                            <input id="personalIdentitytwo" class="form-control" formControlName="personalIdentitytwo">
                        </div>
                        <div class="align-form-column">
                            <label for="alterEgo">Aadhaar No.</label>
                            <input id="aadharNo" class="form-control" formControlName="aadharNo">
                        </div>
                        <div class="align-form-column">
                            <label for="alterEgo">Passport No. (if available)</label>
                            <input id="passport" class="form-control" formControlName="passport">
                        </div>
                        <div class="align-form-column">
                            <label for="alterEgo">Permanent Address & Phone / Mob. No</label>
                            <input id="studentAddress" class="form-control" formControlName="studentAddress">
                        </div>
                      
                </div>
                </div>
                <div class="col-md-4">
                    <div [hidden]="formDir.submitted">
                        <div class="align-form-column">
                            <label for="name">School Name</label>
                            <div>{{schoolName}}</div>
                        </div>
                    
                        <div class="align-form-column">
                            <label for="alterEgo">School Address</label>
                            <div>{{schoolAddress}}</div>
                        </div>
                        <div class="align-form-column">
                            <label for="alterEgo">School Phone with Code No</label>
                            <div>{{schoolContact}}</div>
                        </div>
                        <div class="align-form-column">
                            <label for="alterEgo">Date of Birth ( In Fig.)</label>
                            <div>{{dateOfBirth  | date: 'MMM d, y'}}</div>
                        </div>
                       
                        <div class="align-form-column">
                            <label for="alterEgo">Age in Completed years as on 31st December</label>
                            <div> 
                                <span>{{completedYear.years()}} Years, {{completedYear.months()}} Months, {{completedYear.days() }}Days </span>
                            </div>
                         </div>
                        <div class="align-form-column">
                            <label for="alterEgo"> Bank Detail of participant (If no then mention Mother/Father A/C No.):</label>
                            <textarea [rows]="5" [cols]="30" class="form-control" formControlName="bankDetails"></textarea>

                        </div>
                    
                </div>
                </div>
            </form>
        </div>
            <div>
                <button  type="button" class="close-button btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
                <button class="align-button" type="submit" (click)="onFormSubmit()" [disabled]="sgfiEnrollForm.invalid" class="btn btn-primary">Save changes</button>
            </div>  
            
        
        </div>
        <div *ngIf="isDoc">
            <div class="col-md-12 align-sgfi-form">
                <form [formGroup]="sgfiFileEnrollForm" #formDir="ngForm" (ngSubmit)="onSubmit()">
                <div class="col-md-6">
                        <div [hidden]="formDir.submitted">
                                <div class="align-form-column">
                                    <label for="name">Candidate Scanned Sign</label>
                                        <div class="">
                                            <input  id="studentSign" type="file"  formControlName="studentSign" class="form-control" id="customFile" />
                                        </div>
                                </div>
                            
                                <div class="align-form-column">
                                    <label for="alterEgo">Scanned Aadhaar/Passport/OCI</label>
                                    <div class="">
                                        <input type="file"  id="studentGovDoc" formControlName="studentGovDoc" class="form-control" id="customFile" />
                                    </div>                                </div>
                                <div class="align-form-column">
                                    <label for="alterEgo">School Bonafide</label>
                                    <div>
                                        <input type="file" id="studentStudnetBonafide"  formControlName="studentStudnetBonafide" class="form-control"/>
                                    </div>                                </div>
                                <div class="align-form-column">
                                    <label for="alterEgo">Last Year Mark Sheet</label>
                                    <div>
                                        <input type="file" id="lastYearmarkSheet" formControlName="lastYearmarkSheet" class="form-control"/>
                                    </div>                                </div>
                                <div class="align-form-column">
                                    <label for="alterEgo">Birth Certificate</label>
                                    <div>
                                        <input type="file" id="birthCertificate" formControlName="birthCertificate" class="form-control" />
                                    </div>                                </div>
                                <div class="align-form-column">
                                    <label for="alterEgo">Head Master Sign</label>
                                    <div>
                                        <input type="file" id="headMasterSign" formControlName="headMasterSign" class="form-control"  />
                                    </div>                                </div>
                                <div class="align-form-column">
                                    <label for="alterEgo">Student Photo</label>
                                    <div>
                                        <input type="file" id="studentPhoto"  formControlName="studentPhoto" class="form-control" />
                                    </div>                                </div>
                        </div>
                  
                </div>
                </form>
                </div>
                <div>
                    <button  type="button" class="close-button btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
                    <button class="align-button" type="submit" (click)="onFileSubmit()"  class="btn btn-primary">Save changes</button>
                </div>  
       </div>
       <div *ngIf="isPayment">
        <div class="col-md-12 align-sgfi-form">
            <h3>Total Payable Amount</h3>
            <div><h3>{{payableAmount | number: '.2'}} Rs.</h3></div>
        </div>
        <div class="form-group pad-zero">
            <button [class.disabled]="!(payableAmount > 0)"  class="btn pay-now-button"  type="button" (click)="payNow(payableAmount,studentId,'sgfi')">PAY NOW</button>
         </div>
       </div>
      
    </div> 
    </p-dialog>
  <p-toast  [style]="{marginTop: '50px'}" styleClass="custom-toast" key="custom" position="bottom-center"></p-toast>
 
 