.align-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
:host ::ng-deep .custom-toast .ui-toast-message {
    color: #ffffff;
    background:blue;
    border-radius: 20px;
    padding-top: 7px;
    width: 160%;
 
}
:host ::ng-deep .ui-toast .ui-toast-close-icon {
    padding-top: 15px;
    padding-right: 21px;
    text-decoration: none;
}
.required-label {
    color: red;
}
.error-message {
    font-size: 14px;
    padding: 5px;
    color: red;
}
.error-input-border {
    border: 1px solid #FF0000 !important
}
.align-button {
   margin: 10px !important;
}
:host::ng-deep .modal-open {
    overflow: unset !important
}
:host::ng-deep .modal-dialog {
 margin: 0 !important;
 max-width: 95%;
 /* width: 500px !important;
 max-width: 1000px !important; */
}
@media (min-width: 768px) {
    :host::ng-deep .modal-dialog {
      width: 1500px !important;
    }
}

.modal {
    text-align: center;
  }
  
  @media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
 
  :host::ng-deep .ui-dialog { 
    left: 210px !important;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .close-button {
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
  }
.align-form-menu {
    font-size: 14px;
    color: gray;
    cursor: pointer;
}
.isMenuActive {
    color: slateblue;
    text-decoration: underline;
}
.align-sgfi-form {
    /* padding: 10px 0 0 0px;
    margin: 10px 0; */

    padding: 10px 0 10px 0px;
    margin: 10px 0 12px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.sgfi-enroll-button {
  background: blue !important;
    border-color: blue !important;
}
.plain-button {
  cursor: default !important;
}
.align-form-column {
    padding: 5px 0;
}
.align-game-div {
  padding: 0 0 20px 0;
}
  