<div class="bg-image">
  <div class="container mt-4">
    <div class="card shadow-lg custom-rounded">
      <div class="row text-center border-bottom p-3 bg-color">
        <div class="col underline-text border-right" (click)="changeMenu()">
          Student Enrollment Form
        </div>
        <div class="col underline-text" (click)="changeMenu()">
          Having Already ISSO ID
        </div>
      </div>
      <h2 class="text-center text-primary mb-4"></h2>

      <form
        [formGroup]="studentForm"
        (ngSubmit)="onSubmit()"
        *ngIf="isStudentEnrollForm"
      >
        <div class="row">
          <div class="col-md-6 mb-4">
            <label class="form-label fw-bold">Student Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="studentName"
              (blur)="studentForm.controls.studentName.markAsTouched()"
              placeholder="Enter student name"
            />
            <div
              class="text-danger"
              *ngIf="
                studentForm.controls.studentName.touched &&
                studentForm.controls.studentName.invalid
              "
            >
              Name is required (min 3 characters).
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <label class="form-label fw-bold">Father Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="fatherName"
              (blur)="studentForm.controls.fatherName.markAsTouched()"
              placeholder="Enter father's name"
            />
            <div
              class="text-danger"
              *ngIf="
                studentForm.controls.fatherName.touched &&
                studentForm.controls.fatherName.invalid
              "
            >
              Father name is required (min 3 characters).
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <label class="form-label fw-bold">Admission No</label>
            <input
              type="text"
              class="form-control"
              formControlName="admissionNo"
              (blur)="studentForm.controls.admissionNo.markAsTouched()"
              placeholder="Enter admission number"
            />
            <div
              class="text-danger"
              *ngIf="
                studentForm.controls.admissionNo.touched &&
                studentForm.controls.admissionNo.invalid
              "
            >
              Admission No should be alphanumeric.
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <label class="form-label fw-bold">School Name</label>
            <p-autoComplete
              [(ngModel)]="schoolName"
              [style]="{ width: '100%' }"
              class="p-autocomplete"
              formControlName="schoolName"
              [suggestions]="filteredPages"
              (completeMethod)="filterPages($event)"
              field="text"
              placeholder="Enter school Name"
              emptyMessage="School Not found"
              [minLength]="1"
              (onSelect)="onPageSelect($event)"
            >
              <ng-template let-brand pTemplate="item">
                <div
                  class="ui-helper-clearfix"
                  style="border-bottom: 1px solid #d5d5d5"
                >
                  <div style="font-size: 14px; float: left; margin: 10px">
                    {{ brand.text }}
                  </div>
                  <br />
                </div>
              </ng-template>
            </p-autoComplete>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <label class="form-label fw-bold">Class</label>
            <p-dropdown
              placeholder="Please Select"
              [options]="standardClass"
              size="30"
              formControlName="class"
            ></p-dropdown>
          </div>

          <div class="col-md-6 mb-4">
            <label class="form-label fw-bold">Aadhar No</label>
            <input
              type="text"
              class="form-control"
              formControlName="adharNo"
              (blur)="studentForm.controls.adharNo.markAsTouched()"
              placeholder="Enter Aadhar number"
            />
            <div
              class="text-danger"
              *ngIf="
                studentForm.controls.adharNo.touched &&
                studentForm.controls.adharNo.invalid
              "
            >
              Aadhar No must be 12 digits.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <label class="form-label fw-bold">Contact No</label>
            <input
              type="text"
              class="form-control"
              formControlName="contactNo"
              (blur)="studentForm.controls.contactNo.markAsTouched()"
              placeholder="Enter contact number"
            />
            <div
              class="text-danger"
              *ngIf="
                studentForm.controls.contactNo.touched &&
                studentForm.controls.contactNo.invalid
              "
            >
              Contact No must be 10 digits.
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <label class="form-label fw-bold">Date of Birth</label>
            <!-- <input type="date" class="form-control" formControlName="dob" /> -->
            <p-calendar
              formControlName="dob"
              [minDate]="minDate"
              [maxDate]="maxDate"
              dateFormat="dd/mm/yy"
              [monthNavigator]="true"
              [yearNavigator]="true"
              yearRange="{{ minDate.getFullYear() }}:{{
                maxDate.getFullYear()
              }}"
              [style]="{ width: '100%' }"
              [inputStyle]="{ width: '100%' }"
              placeholder="Select Date of Birth"
            ></p-calendar>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <label class="form-label fw-bold">T-Shirt Size</label>
            <p-dropdown
              placeholder="Please Select"
              [options]="tShirtSize"
              size="30"
              formControlName="tshirtSize"
            ></p-dropdown>
          </div>
          <div class="col-md-6 mb-4">
            <label for="inputPassword4">Select Gender</label>
            <p-dropdown
              formControlName="studentGender"
              [options]="genderOptions"
              placeholder="Select Gender"
              [style]="{ 'min-width': '20px' }"
            ></p-dropdown>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <label class="form-label fw-bold">Upload Photo</label>
            <input
              type="file"
              class="form-control"
              accept="image/png, image/jpeg"
              (change)="onFileSelect($event)"
            />
            <small class="text-danger" *ngIf="fileError">{{ fileError }}</small>
            <div class="text-center mt-2" *ngIf="imagePreview">
              <img [src]="imagePreview" class="img-thumbnail" width="120" />
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <label class="form-label fw-bold">Curriculum</label>
            <textarea
              class="form-control"
              formControlName="curriculum"
              placeholder="Enter curriculum details"
            ></textarea>
          </div>
        </div>

        <div class="border-bottom">
          <button
            type="submit"
            class="btn btn-primary btn-medium float-end m-3"
            [disabled]="!isFormValid()"
          >
            <i class="bi bi-send-fill"></i> Submit
          </button>
        </div>
      </form>
      <div *ngIf="!isStudentEnrollForm">
        <form [formGroup]="issoEnrolledForm" (ngSubmit)="onIssoEnrollSubmit()">
          <div class="row">
            <div class="col-md-6 mb-4">
              <label class="form-label fw-bold">Student ID</label>
              <input
                type="text"
                class="form-control"
                formControlName="studentId"
                (blur)="issoEnrolledForm.controls.studentId.markAsTouched()"
                placeholder="Enter student ID"
              />
              <div
                class="text-danger"
                *ngIf="
                  issoEnrolledForm.controls.studentId.touched &&
                  issoEnrolledForm.controls.studentId.invalid
                "
              >
                Student ID is required (min 3 characters).
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <button
                type="submit"
                class="btn btn-primary btn-medium align-isso-button"
                [disabled]="!isIssoFormValid()"
              >
                <i class="bi bi-send-fill"></i> Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<p-toast
  [style]="{ marginTop: '50px' }"
  styleClass="custom-toast"
  key="custom"
  position="bottom-center"
></p-toast>
